<app-loader *ngIf="loading" ></app-loader>

<div [hidden]="loading" class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3 center-align" id="title">
      <h4>Join Room</h4>
    </div>
  </div>
  <div class="carousel " *ngIf="!hideCarousel">
    <span *ngFor="let x of images; let i=index;">
      <img src="assets/images/128_{{i+1}}.png" alt="" class="circle responsive-img carousel-item"
        (click)="selectProfilePic(i+1);">
    </span>
  </div>

  <div *ngIf="selectedProfile" class="row">
    <img src="assets/images/128_{{profilePicNumber}}.png" alt=""
      class="circle responsive-img col s6 offset-s3 m4 offset-m4">
  </div>

  <div class="row" *ngIf="selectedProfile">
    <form class="col s12" [formGroup]="joinRoomForm" id="joinRoomForm">
      <div class="row">
        <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
          <i class="material-icons prefix">account_circle</i>
          <input id="icon_prefix" formControlName="userName" [(ngModel)]="userName" required minlength="3"
            maxlength="12" name="userName" type="text">
          <label for="icon_prefix">User Name</label>
          <span class="error-message" *ngIf="joinFormControls.userName.errors?.required && submitted == true">Username
            is required</span>
          <span class="error-message" *ngIf="submitted == true && joinRoomForm.get('userName').hasError('minlength')">Minimum 3
            characters are required</span>
          <span class="error-message" *ngIf="joinRoomForm.get('userName').hasError('maxlength') && submitted == true">Maximum
            12 characters are allowed</span>
        </div>

        <div class="input-field col s12 m6 offset-m3 l6 offset-l3">
          <i class="material-icons prefix">play_arrow</i>
          <input id="icon_play" formControlName="roomId" [(ngModel)]="roomId" required minlength="4" maxlength="4"
            name="roomId" type="text">
          <label for="icon_play">Room ID</label>
          <span class="error-message" *ngIf="joinFormControls.roomId.invalid && joinFormControls.roomId.touched && submitted == true">Enter valid 4 digit
            room id.</span>
          <span class="error-message" *ngIf="joinFormControls.roomId.errors?.required && submitted == true">Room id is
            required.</span>

        </div>
        <div class="col s8 offset-s2 m6 offset-m3 l6 offset-l3">
        <span class="error-message center-align" id="roomIdInvalidError" *ngIf="roomIdInvalidError">
          RoomId is not valid or expired, create a new room to play.
        </span>
        </div>
        <button class="btn waves-effect waves-light col s8 offset-s2 m4 offset-m4 l4 offset-l4" id="startButton"
          type="submit" name="action" (click)="submitted =true; validateForm()">Start
          <i class="material-icons right">send</i>
        </button>
      </div>



    </form>
  </div>
</div>
