#startButton {
    background-color: #34ad54;
    font-weight: bold;
    margin-top: 5%;
}

.error-message {
    color: red;
    margin: auto 15%;
    align-self: center;
}

#roomIdInvalidError {
    margin: 0 auto;
}