#createButton {
    font-weight: bolder !important;
    margin-top: 5%;
    background-color: #34ad54;

}
#shareButton {
    font-weight: bold;
    margin-top: 5%;
    background-color: #2a9ac7;
}

.error-message {
    color: red;
    margin: auto 15%;
    align-self: center;
}
#title {
    margin-top: 5%;
}
@media(max-width: 426px) {
    #content {
        margin-top: 10% !important;
    }
}   

.btn-block {
    width: 50%;
}
