
{{loading}}
{{waiting}}
<app-loader *ngIf="loading && !waiting"></app-loader>
<app-waiting-lobby *ngIf="waiting && !loading"></app-waiting-lobby>
<div class="container" *ngIf="!waiting && !loading">
    <!-- <button data-target="modal1" class="btn modal-trigger">Modal</button> -->
    <div class="row">
    <div class="col s6 offset-s3 m4 offset-m4 l4 offset-l4" >
        <div id="player1" class="card-panel grey lighten-5 z-depth-1 valign-wrapper center-align"
        (click)="choosenPlayer(1)">
              <img src="assets/images/128_1.png" alt="" class="circle responsive-img">
              <span class="black-text">
                {{this.players[0].player_name}}
              </span>
        </div>
      </div>

      <div class="col s4 m4 l4">
        <div id="player2" class="card-panel grey lighten-5 z-depth-1 valign-wrapper center-align"
        (click)="choosenPlayer(2)">
              <img src="assets/images/128_2.png" alt="" class="circle responsive-img">
              <span class="black-text">
                {{this.players[1].player_name}}
              </span>
        </div>
      </div>
      <div class="col s4 m4 l4">
        <div id="player3" class="card-panel grey lighten-5 z-depth-1 valign-wrapper center-align"
        (click)="choosenPlayer(3)">
              <img src="assets/images/128_3.png" alt="" class="circle responsive-img">
              <span class="black-text">
                {{this.players[2].player_name}}
              </span>
        </div>
      </div>
   </div>

   <div id="helpText">
    Choose a player, who you think is chor
   </div>
   <div class="row" id="dashboard">
    <div id="userRole" class="col s3 m3 l3 customizeBorder valign-wrapper" >
        <div> Raja </div>
        <img id="choiceImg" src="assets/images/raja.svg" alt="raja image" >
    </div>
    <div class="col s6 m6 l6 customizeBorder">
        <a id="bluff" class="waves-effect waves-light btn" (click)='tossCheats()'><i class="material-icons right" >block</i>Bluff</a>
        <a id="reveal" class="waves-effect waves-light btn"><i class="material-icons right">beenhere</i>Reveal</a>
    </div>

    <div class="col s3 m3 l3 customizeBorder">
        Score: 50
        <!-- <div class="fixed-action-btn">
            <a class="btn-floating btn-large green">
              <i class="large material-icons">mode_edit</i>
            </a>
            <ul>

            <li><a class="btn-floating blue btn modal-trigger" data-target="modal1">
                  <i class="material-icons">dashboard</i>
                </a>
            </li>
            <li><a class="btn-floating red darken-1" (click)="exitGamePopup()">
                <i class="material-icons">close</i>
                </a>
            </li>
            </ul>
          </div> -->
    </div>
</div>
</div>
<app-scoreboard></app-scoreboard>
