

<div class="container">
    <!-- <button data-target="modal1" class="btn modal-trigger">Modal</button> -->
    <div class="row">
        <div id="player1" class="col s4 m4 l2 valign-wrapper offset-s4 offset-m4 offset-l5">
            sdsf
        </div>
    </div>
    <div class="row">
        <div id="player2" class="col s4 m4 l2 valign-wrapper">
            df
        </div>
        <div id="player3" class="col s4 m4 l2 valign-wrapper">
            asd
        </div>
    </div>
    <div class="row" id="dashboard">
        <div class="col s3 m3 l3 customizeBorder" id="userRole">
            You are Raja
        </div>
        <div class="col s6 m6 l6 customizeBorder">
            <a class="waves-effect waves-light btn"><i class="material-icons right">block</i>Bluff</a>
            <a class="waves-effect waves-light btn"><i class="material-icons right">beenhere</i>Reveal</a>
        </div>

        <div class="col s3 m3 l3 customizeBorder">
            Score: 50
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large green">
                  <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                  <li><a class="btn-floating blue"><i class="material-icons">dashboard</i>sdf</a></li>
                  <li><a class="btn-floating red darken-1"><i class="material-icons">format_quote</i></a></li>
                </ul>
              </div>
        </div>
    </div>
  
   
</div>

<app-scoreboard></app-scoreboard>
