<div class="container">
    <div class="row">
        <div class="col s6 offset-s3 l8 offset-l2 m6 offset-m3" id="title">
            Who is the theif ?
        </div>
    </div>
    <a class="waves-effect waves-light btn-large" id="create" (click)="createRoom()">
        <i class="material-icons right">add_box</i>Create a room
    </a>
    <a class="waves-effect waves-light btn-large" id="join" (click)="joinRoom()">
        <i class="material-icons right">supervisor_account</i>Join a room
    </a>
    <app-loader></app-loader>
</div>