#create {
    background-color: #34ad54;
    font-weight: bold;
    margin-top: 5%;
}

#join {
    background-color: #2a9ac7;
    font-weight: bold;
    margin-top: 5%;
}

#title {
  margin: 10% auto;
}


.btn-block {
  width: 50%;
}

#title {
  margin: 5% auto !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c4c3bc;
  text-align: center;
  font-weight: bold;
}
