
<div class="container">
    <div class="row">
<div id="modal2" class="modal">
    <div class="model-content">
      <ul class="collection with-header">
        <li class="collection-header"><h5>Final Scoreboard</h5></li>
        <li class="collection-item valign-wrapper winnerPlayer">
            <img src="assets/images/128_2.png" alt="" class="circle">
            <span>Captain America<a class="secondary-content">5000</a></span>
        </li>
        <li class="collection-item valign-wrapper">
            <img src="assets/images/128_3.png" alt="" class="circle">
            <span>Iron Man<a class="secondary-content">1000</a></span>
        </li>
        <li class="collection-item valign-wrapper">
            <img src="assets/images/128_4.png" alt="" class="circle">
            <span>Hulk<a class="secondary-content">500</a></span>
        </li>
        <li class="collection-item valign-wrapper">
            <img src="assets/images/128_10.png" alt="" class="circle">
            <span>Thor<a class="secondary-content">5000</a></span>
        </li>
            <!-- <li class="collection-item avatar">
              <img src="assets/images/128_2.png" alt="" class="circle">
              <span class="title">Captain America</span>
            </li>
            <li id="a2" class="collection-item avatar">
                <img src="assets/images/128_3.png" alt="" class="circle">
                <span class="title">Iron Man</span>
            </li>
            <li class="collection-item avatar">
                <img src="assets/images/128_4.png" alt="" class="circle">
                <span class="title">Hulk</span>
            </li>
            <li class="collection-item avatar">
                <img src="assets/images/128_1.png" alt="" class="circle">
                <span class="title">Thor</span>
            </li> -->
      </ul>  
      <div class="row">
        <div class="col s6 m6 l6 center-align">
          <a class="modal-close waves-effect waves-light btn"><i class="material-icons right">close</i>Close</a>
        </div>
        <div class="col s6 m6 l6 center-align">
            <a class="modal-close waves-effect waves-light btn"><i class="material-icons right">create</i>Start new game</a>
    
          </div>
      </div>
  </div>
  </div>
</div>
</div>